body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #ACB6E5);
}

#counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: rgba(255, 250, 250, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 20%;
  background-color: #1f1d1d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #3a3737;
  transform: scale(1.1);
}

button:active {
  background-color: #000000
}